.body {
  place-items: center stretch;
  width: 100vw;
  min-width: 320px;
}

.header {
  /* grid-column: 1 / span 4;
  grid-row: 1 / 2; */
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

main {
  display: flex; 
  width: 100%;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

