.container {
  position: relative;
  display: flex;
  width: 200px;
  background-color: var(--book-card-bg);
  border: 2px solid var(--border-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.card {
  width: 200px;
}

.card_button {
  display: flex;
  position: absolute;
  top: 5px;
  right: 5px;
  gap: 5px;
}