input {
  font-family: "Junicode", serif;
  font-style: italic;
  font-size: 30px;
  color: var(--border);
  width: 300px;
  height: 60px;
  padding: 0 25px;
  border-radius: 20px;
  border-color: var(--border);
  border-width: 2px;
  background-color: var(--input-bg-color);
  background-image: url("../../assets/icons/search.svg");
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-position: 230px center;
}