:root {
  --bg-color: rgb(48, 61, 51);
  --accent-color: rgb(139, 58, 35);
  --border-color: rgb(77, 36, 25);
  --main-color: rgb(180, 133, 84);
  --input-bg-color: rgba(180, 133, 84, 0.75);
  --book-card-bg: rgba(180, 133, 84, 0.5);
  --btn-main: rgba(143, 99, 52, 0.8);
  --btn-cheked: rgba(72, 70, 37, 0.8);
}

@font-face {
  font-family: "Junicode", serif;
  src: url("./assets/fonts/Junicode.ttf") format("truetype"); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Junicode", serif;
  src: url("./assets/fonts/Junicode-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Junicode", serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--main-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  background-color: var(--bg-color);
  background-image: url("./assets/background/background.png");
  background-size: contain;

}

input:focus {
  outline: none;
}